<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>RefugeeSites</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>






<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><img src="/assets/LogoWebsite" alt="Logo"></li>
      
       
   </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      
      <li>
        <a href="#">Language</a>
        <ul class="menu vertical">
          <li><%= link_to 'English', english_url%></li> 
          <li><%= link_to 'لعربية‬', arab_url%></li>
         
        </ul>
      </li>
      <li><%= link_to 'Detect location', detectlocation_url%></li>
      <li><%= link_to 'About us', us_url%></li>
       <li><%= link_to 'Contact', contact_url%></li> 
    </ul>
  </div>
</div>


<%= yield %>






<div class="callout large secondary">
<div class="row">
<div class="large-4 columns">
<h5> <img src="/assets/LogoWebsite" alt="Logo"></h5><br>
<p> <a href="http://www.unhcr.org/en-us/">Powered by UNHCR.</a>  <br>  <p>  Made by Jorge Mariscal Ávila. </p>
<a href="https://creativecommons.org/licenses/by-sa/3.0/">Text is available under the Creative Commons Attribution-ShareAlike License. </a></p>
</h4>
</div>
<div class="large-3 large-offset-2 columns">
<ul class="menu vertical">

<li><%= link_to 'English', english_url%></li> 
<li><%= link_to 'لعربية‬', arab_url%></li>
<li><%= link_to 'Detect location', detectlocation_url%></li>
<li><%= link_to 'About us', us_url%></li>
<li><%= link_to 'Contact', contact_url%></li> 


</ul>
</div>
</li> 







